<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock  %} - ISMR </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extrahead %} {% endblock  %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('dashboard') }}">Tablero de sensores</a></li>
            <li><a href="{{ url_for('send_fake_data') }}">Fake data test</a></li>
        </ul>
    </nav>
    {% block header %}
        
    {% endblock  %}
    <main>
    {% block content %}
    
    {% endblock  %}
    </main>
</body>
</html>
