{% extends 'base.html' %}

{% block title %}
    Monitoreo
{% endblock  %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/updatevalues.js') }}"></script>
{% endblock  %}

{% block header %}
<h1> Tablero de sensores </h1>
{% endblock  %}

{% block content %}

{% for sensor_id, sensor_value in sensors_info %}
    <a href="{{url_for('sensor', sensor_id=sensor_id)}}">
    <div class="dashboard-item">
        <p> Sensor {{sensor_id}} </p>
        <p id="{{sensor_id}}"> {{sensor_value}} °C </p>
    </div>
    </a>
{% endfor %}

{% endblock  %}
