{% extends 'base.html' %}

{% block title %}
    Principal
{% endblock  %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/updatevalues.js') }}"></script>
{% endblock  %}

{% block header %}
<h1>Sensor dashboard</h1>
{% endblock  %}

{% block content %}
<p> Universidad Politécnica de Guanajuato </p>
<p> Ingeniería Robótica </p>
{% endblock  %}
