{% extends 'base.html' %}

{% block title %}
    Sensor info
{% endblock  %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sensor.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
<script type="text/javascript">
    var sensor_value = {{sensor_value}};
    var last_reads = {{last_reads}};
    var sensor_id = {{sensor_id}}; 
</script>
<script src="{{ url_for('static', filename='js/sensorcharts.js') }}" defer></script>
{% endblock  %}

{% block header %}
<h1> Sensor {{sensor_id}} </h1>
{% endblock  %}

{% block content %}
<div id="chart-gauge-{{sensor_id | int}}"></div>
<div id="chart-line-{{sensor_id | int}}"></div>
{% endblock  %}
